@{
  Layout="Shared/_Layout.cshtml";
}

<form action="/result" method="post">
  <div class="form-group">
    <label for="userWord">Your Word :: </label>
    <input type="text" name="userWord" id="userWord">
  </div>
  <div class="form-group">
    <label for="userStrings">Your Words: </label>
    <input type="text" name="userStrings" id="userStrings">
  </div>
  <button type="submit" class="btn">Count</button>
</form>
