<h1>Word Counter</h1>
<form action="/result" method="post">
  <div class="form-group">
    <label for="userWord">Enter your word</label>
    <input type="text" name="userWord" id="userWord">
  </div>
  <div class="form-group">
    <label for="userStrings">Enter your words</label>
    <input type="text" name="userStrings" id="userStrings">
  </div>
  <button type="submit" class="btn">Count</button>
</form>
