body {
  font-size: 30px;
  text-align: center;
}

.header {
  background-image: url('../IMG/words.jpg');
  background-size:90% 340px;
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  height: 340px;
}

form {
  margin-top: 40px;
}

span {
  font-family: 'Barrio', cursive;
}

.btn {
  font-size: 22px;
  margin-top: 30px;
  width: 120px;
  height: 70px;
  border-radius: 10px;
}

p {
  padding-bottom: 50px;
}

a {
  font-size: 20px;
}
